body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}

a {
  color: #00B7FF;
}

#main{
	margin: 0 auto; 
}

.about-app{
	margin: 0 auto; 
	background-color: #2c2c2c;
	margin-top:10%;
	opacity: 0.4;
	width:80%;
	height: 40%;
}

#tagline{
	color: white;
	font-size: 30px;
	text-align: center;
}

#tab-package{
	background-color: #2c2c2c;
	opacity: 0.9;
	height:100%;
	padding: 20px;
}

section h3{
	color: white;
}

#interests{
	background-color: #2c2c2c;
	opacity: 1.2;
	width:60%;
	height:60%;
	/*float: right;*/
	border-radius: 10px;
}

.checkboxes{
	/*text-align: center;*/
}

.int{
	text-align: center;
	color:white;
	font-size: 18px;
}

#details span{
	color: white;
}
/*form{
	margin: 0 auto; 
	width:50%;
}*/